@charset "UTF-8";

/*高度铺满处理*/
html, body {
    height: 100%;
}
/*上下空间设置*/
.my-content{
    padding-top: 15px;
    padding-bottom: 15px;
}
/*去除alert信息框的 margin-bottom */
.my-alert{
    margin-bottom: 0;
}

/*处理页面的表单样式*/
.my-check-radio-group .invalid-feedback{
    display: none;
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
}
.is-invalid>.invalid-feedback{
    display: block;
}