<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <!-- 必要的 meta 标签 -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 安全处理信息 -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'"/>
    <!-- Bootstrap 的 CSS 文件 -->
    <link rel="stylesheet" href="../thirdparty/bootstrap4/bootstrap.min.css" />
    <!-- 本页面自己的 css 样式 -->
    <link rel="stylesheet" href="main.css" />
    <!-- 网页标题 -->
    <title></title>
</head>
<body>

    <!-- 引入 jQuery 的 js 文件和 bootstrap 的 js 文件 -->
    <script src="../thirdparty/jQuery/jquery-3.7.1.min.js"></script>
    <script src="../thirdparty/bootstrap4/bootstrap.bundle.min.js"></script>
    <!-- 本页面自己的 js 处理 -->
    <script src="main-renderer.js"></script>
</body>
</html>
